*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1% 2%;
    background-color: #D9D9D9;
    align-items: center;
}

.logo{
    font-weight: bold;
    color: blue;
    font-size: 30px;
}

nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}

nav button{
    color: white;
    background-color: blue;
    border: none;
    padding: 2% 3%;
    border-radius: 8%;
}